/* comments */

.comment {
    background-color: var(--bg-surface-2);
}

.comment__header, .comment__footer {
    background-color: black;
    border: var(--border-muted) solid 1px;
    box-shadow: var(--shadow-s);
}

.comment__header {
    padding: var(--space-xs) var(--space-m);
}

.comment__main {
    padding-inline: var(--container-s)
}

.comment__footer {
    padding: var(--space-s);
}

.comment__list {
    padding: var(--space-2xs) var(--space-xl);
    gap: var(--space-xs);
}

.comment__form {
    gap: var(--space-s);
    flex-direction: row;
}

/* buttons */

.comment__btn {outline: auto;}