/* comments */

.comment {
    background-color: var(--bg-surface-2);
}

.comment__header {
    padding: var(--space-xs) var(--space-m);
    border-bottom: 2px solid var(--border-default);
}

.comment__main {
    padding-inline: var(--container-s)
}

.comment__footer {
    padding: var(--space-m);
}

.comment__list {
    padding: var(--space-2xs) var(--space-xl);
    gap: var(--space-xs);
}

.comment__form {
    outline: 1px solid var(--border-default);
    padding: var(--space-m);
    gap: var(--space-2xs);;
}

.comment__input {
    height: 100%;
    flex: 2.5;
    background-color: var(--bg-surface-3);
    box-shadow: var(--shadow-s);
}

/* buttons */

.comment__btn {outline: auto;}

.comment__btn--form {
    height: 100%;
    border-radius: 0;
    flex: 1;
}