/* content */

.content {
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-l) 0;
}

.content__header {
    padding: var(--space-xs) var(--space-xl);
    width: 100%;
}

.content__viewport {
    width: 100%;
    padding: var(--space-xs) var(--space-l);
    margin: 0 auto;
}

.content__list {
    gap: var(--space-xl);
}

.content__item {
    border: 3px solid violet;
}