/* content */

.content {
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-l) 0;
    background-color: var(--bg-elevated);
}

.content__header {
    padding-inline: var(--space-xl);
    width: 100%;
}

.content__viewport {
    margin: 0 auto;
}

.content__list {
    gap: var(--space-xl);
}

.content__item {
    border: 3px solid violet;
}