/* content */

.content {
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-s) 0;
}

.content__header {
    border-bottom: 1px solid var(--border-muted);
    padding: var(--space-s);
    width: 100%;
}

.content__viewport {
    width: 100%;
    padding: var(--space-xs) var(--space-l);
    margin: 0 auto;
}

.content__list {
    gap: var(--space-xs);
}

.content__item {
    border: none;
}