/* header */

.header {
    background-color: var(--bg-elevated);
    padding-inline: var(--space-l);
    box-shadow: var(--shadow-l);
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header__title {
    color: var(--text-heading);
    font-size: 30px; /*quitar*/
}

.header__left {
    gap: var(--space-xl);
    padding: var(--space-m);
}

.header__right {
    gap: var(--space-l);
    padding: var(--space-m);
}

.header__nav {outline: auto;}

.header__list {
    gap: var(--space-xs);
}

/* buttons */

.header__btnRight {
    color: var(--text-default);
    background-color: transparent;
    border: none;
}