/* header */

.header {
    background-color: var(--bg-elevated);
    box-shadow: var(--shadow-l);
    gap: var(--space-xl);
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header__title {
    color: var(--text-heading);
    font-size: var(--font-size-xl);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

.header__left {
    gap: var(--space-xl);
    padding: var(--space-xs) var(--space-m);
}

.header__right {
    gap: var(--space-l);
    padding: var(--space-xs) var(--space-m);
}

.header__nav {
    gap: var(--space-l);
    padding: var(--space-2xs) var(--space-m);
}

.header__navLink {
    border-bottom: 2px solid var(--text-default);
    padding-block: var(--space-3xs);
    text-decoration: none;
    color: var(--text-default);
    font-size: var(--font-size-s);
    transition: all ease 0.5s;
}

.header__navLink:hover {
    color: var(--text-heading);
    border-bottom: 2px solid var(--text-heading);
}

.header__list {
    gap: var(--space-xs);
}

/* buttons */

.header__btnRight {
    color: var(--text-default);
    background-color: transparent;
}