/* header */

.header {
    background-color: var(--bg-elevated);
    padding-inline: var(--space-l);
    box-shadow: var(--shadow-l);
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header__title {
    color: var(--text-heading);
    font-size: var(--font-size-xl);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

.header__left {
    gap: var(--space-xl);
    padding: var(--space-m);
}

.header__right {
    gap: var(--space-l);
    padding: var(--space-m);
}

.header__nav {outline: none;}

.header__navLink {
    color: var(--text-heading);
    text-decoration: none;
    color: var(--text-default);
    font-size: var(--font-size-s);
    transition: all ease 0.3s;
}

.header__list {
    gap: var(--space-xs);
}

/* buttons */

.header__btnRight {
    color: var(--text-default);
    background-color: transparent;
    border: none;
}