/* hero */

.hero {
    height: 75vh;
    width: 100%;
    position: relative;
}

.hero-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 90vh;

    img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
}

.hero-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #0b1326ff,
        #0b132655,
        transparent,
        transparent
    );
    pointer-events: none;
}

.hero__overlay {
    position: absolute;
    max-width: 50%;
    min-height: 70%;
    bottom: 0;
    left: 0;
    padding: 0 var(--space-xl) 5vh var(--space-xl);
    color: var(--text-primary);

    .hero-info__secondary {
        gap: var(--space-s);
    }

    .hero-info__primary {
        gap: var(--space-l);
        margin-bottom: var(--space-xl);
        
        p {
            margin-top: var(--space-s);
            font-size: var(--font-size-l);
            max-width: 80%;
        }
    }
    
    .hero-actions {
        gap: var(--space-s);
    }
}

/* buttons */

.btn-hero-icons {
    padding: var(--space-l);
}

/* icons */

.icon-favorite {
    width: var(--space-s);
    height: var(--space-s);
}

.icon-like {
    width: var(--space-s);
    height: var(--space-s);
}