/* infoContent */

.infoContent {
    border-radius: var(--radius-l);
    margin-block: var(--space-l);
    padding: var(--space-xl);;
    overflow: hidden;
    position: relative;
}

.infoContent::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("../../assets/image/img-01.jpeg");
    background-size: cover;
    background-position: center;
}

.infoContent::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--overlay-m);
    filter: blur(10px);
}

.infoContent__primary, .infoContent__secondary {
    position: relative;
    z-index: 2;
}

.infoContent__title {
    gap: var(--space-xl);
    padding-block: var(--space-s);
}

.infoContent__secondary {
    width: 100%;
    padding: var(--space-s);
}

.infoContent__trailer {
    width: 100%;
    max-width: var(--container-m);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-m);
}

.infoContent__details {
    padding-block: var(--space-l);
    padding-right: var(--space-3xl);
    gap: var(--space-l);

    /*.infocontent__characteristics{} cambiar a badges.
    .infoContent__description {}
    */
}

.infoContent__actions {
    padding-top: var(--space-l);
    gap: var(--space-s);
}