/* ranking */

.ranking {
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-l) 0;
}

.ranking__header {
    width: 100%;
}

.ranking__viewport {
    margin: 0 auto;
}

.ranking__list {
    gap: var(--space-s);
}

.ranking__item {
    margin: 0;
}