/* seasonContent.css */

.seasonContent {
    background-color: var(--bg-surface);
    border-radius: var(--radius-l);
    margin-block: var(--space-l);
    padding: var(--space-s);
}

.seasonContent__actions, .seasonContent__body {
    padding: var(--space-s);
}

/* .seasonContent__actions {
}
*/

.seasonContent__body {
    position: relative;
    border-block: solid 1px var(--border-primary);
}

.seasonContent__body::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: var(--space-l);
    display: block;

    background: linear-gradient(
        to top,
        rgba(11, 19, 38, 0),
        rgba(11, 19, 38, 1)
    );
    pointer-events: none;
}

.seasonContent__body::before {
    content: "";
    position: absolute;
    top: 0;
    height: var(--space-l);
    display: block;

    background: linear-gradient(
        to top,
        rgba(11, 19, 38, 1),
        rgba(11, 19, 38, 0)
    );
    pointer-events: none;
}

.seasonContent__grid {
    display: grid;
    min-height: var(--container-m);
    grid-template-columns: repeat(auto-fit, minmax(var(--container-2xs), 1fr));
    gap: var(--space-s); /* column-gap: / row-gap */
    padding-block: var(--space-s);
}

/*
.seasonContent__item {
    
}
*/

.seasonContent__episodeOverlay {
    background-color: var(--overlay-l);
}

/*
.seasonContent__episodeInfo {

}
*/

.seasonContent__navigation {
    padding: var(--space-s);
}

.seasonContent__display {
    margin-inline: var(--space-l);
}

/* buttons */

.btn-season {
    font-size: var(--font-size-l);
    padding: var(--space-s);
    gap: var(--space-2xs);
    transition: all ease 0.5s;
    border: black solid 1px;
}

.btn-season:hover {
    font-size: var(--font-size-l);
    color: white;
    background-color: black;
    border: white solid 1px;
}

.btn-season-nav {
    padding: var(--space-2xs);
    transition: transform ease 0.5s;
}

.btn-season-nav:hover {
    
}

.btn-pagination-dot {
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid var(--border-secondary);
    width: var(--space-xs);
    height: var(--space-xs);
    transition: all ease 0.3s;
}

.btn-pagination-dot.active {
    border: 1px solid var(--border-secondary);
    background-color: var(--border-secondary);
}

/* icons */

.icon-season-button-primary {
    transform: rotate(180deg);
    transition: transform ease 1s;
}

.icon-season-button-primary.open {
    transform: rotate(0deg);
}

.icon-season-button-secondary {}

.icon-season-button-secondary-right {
    transform: rotate(180deg);
}

/* cards */

.card--seasonContent {
    border-radius: var(--radius-one);
    overflow: hidden;
    max-width: var(--container-xs);
    aspect-ratio: 16/9;
    transition: all ease 0.6s;
}

.card--seasonContent:hover {
    transform: scale(1.03);
    box-shadow: var(--shadow-m); /* box-shadow */
}