/* seasonContent.css */

.season {
    background-color: var(--bg-surface);
    border-radius: var(--radius-l);
    margin-block: var(--space-l);
    padding: var(--space-s);
}

.season__actions, .season__content {
    padding: var(--space-s);
}

/* .seasonContent__actions {
}
*/

.season__content {
    position: relative;
    border-block: solid 1px var(--border-primary);
}

.season__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: var(--space-l);
    display: block;

    background: linear-gradient(
        to top,
        rgba(11, 19, 38, 0),
        rgba(11, 19, 38, 1)
    );
    pointer-events: none;
}

.season__content::before {
    content: "";
    position: absolute;
    top: 0;
    height: var(--space-l);
    display: block;

    background: linear-gradient(
        to top,
        rgba(11, 19, 38, 1),
        rgba(11, 19, 38, 0)
    );
    pointer-events: none;
}

.season__grid {
    min-height: 35vh;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-2xs); /* column-gap: / row-gap */
    padding-block: var(--space-s);
}

.season__navigation {
    padding: var(--space-s);
}

.season__display {
    margin-inline: var(--space-l);
}

/* buttons */

.season__btn-split {
    font-size: var(--font-size-l);
    padding: var(--space-s);
    gap: var(--space-2xs);
    transition: all ease 0.5s;
    border: black solid 1px;
}

.season__btn-split:hover {
    font-size: var(--font-size-l);
    color: white;
    background-color: black;
    border: white solid 1px;
}

.season__btn-nav {
    padding: var(--space-2xs);
    transition: transform ease 0.5s;
}

.season__btn-nav:hover {
    
}

/* cards */

.card--seasonContent {
    border-radius: var(--radius-one);
    overflow: hidden;
    max-width: var(--container-xs);
    aspect-ratio: 16/9;
    transition: all ease 0.6s;
}

.card--seasonContent:hover {
    transform: scale(1.03);
    box-shadow: var(--shadow-m); /* box-shadow */
}