/* ancho + centrado */

.section {}

.container {
    width: 100%;
    margin-block: var(--space-l);
    padding: 0 var(--space-xl);
}

.container-secondary {
    width: 100%;
    margin-block: var(--space-l);
    padding: 0;
}

.desactivar-container {
    display: none;
}

/* debug outlines */

.outlineRed {
    outline: red solid 3px;
}

.outlineBlue {
    outline: blue solid 3px;
}

.outlineYellow {
    outline: yellow solid 3px;
}