/* ancho + centrado */

:root {
    --container-modal-radius: 40px;
}

.section {}

.container {
    width: 100%;
    margin-block: 2rem;
    padding: 0 4rem;
}

.desactivar-container {
    display: none;
}

/* debug outlines */

.outlineRed {
    outline: red solid 3px;
}

.outlineBlue {
    outline: blue solid 3px;
}

.outlineYellow {
    outline: yellow solid 3px;
}