/* variables */

:root {
    --background-hero: url('../../assets/image/img-01.jpeg');

    --text-primary: #c0bebe;
    --text-secondary: #333333;
    --text-muted: #666666;

    --color-primary: #0b1326;
    --color-secondary: #b89be8;
    --color-terciary: #4d305f;

    --font-primary: montserrat, sans-serif;

    --radius-one: 10px;
    --radius-two: 40px;
    
    --font-xl: 20px;
    
    --font-bolt: 500;
}