/* variables */

:root {
    --background-hero: url('../../assets/image/img-01.jpeg');

    --text-primary: #c0bebe;
    --text-secondary: #b89be8;
    --text-muted: #666666;

    --color-primary: #0b1326;
    --color-secondary: #b89be8;
    --color-terciary: #4d305f;
    --color-cuatro: #2DD4BF;

    --font-primary: montserrat, sans-serif;

    --radius-one: 10px;
    --radius-two: 40px;
    
    --font-l: 15px;
    --font-x: 18px;
    --font-xl: 20px;
    
    --font-bold: 600;

    --shadow-one: 0 0 10px rgba(0, 0, 0, 0.5);
}