/* content */

.content {
    width: 100%;
    gap: var(--space-l);
    padding: var(--space-l) 0;
}

.content__header {
    width: 100%;
}

.content__viewport {
    margin: 0 auto;
}

.content__list {
    gap: var(--space-s);
}

.content__item {
}