/* global */

* {
    /* outline: red solid 3px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-primary);
    
    color: var(--text-primary); /*quitar*/
}

main {
    width: 100%;
}

.footer {
    height: 5vh;
    border-top: 2px solid black;
    padding: 25px 50px 50px 50px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}