/* header */

.header {
    background-color: var(--color-primary);
    min-width: 100%;
    position: fixed;
    padding-inline: 2rem;
    z-index: 999;
    h2 {
        color: var(--color-secondary);
    }
}

.header__left {
    gap: 3rem;
    padding: 1rem 1rem;
}

.header__right {
    gap: 2rem;
    padding: 1rem 1rem;
}

.header__nav {
    gap: 1.5rem;
}

/* buttons */

.btn-header-right {
    color: var(--text-secondary);
    background-color: transparent;
    border: none;
}

.btn-header-left {
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    font-size: var(--font-x);
    font-weight: var(--font-bold);
}

.btn-header-left:hover {
    border-bottom: 2px solid var(--color-secondary);
    color: var(--text-secondary)
}