/* header */

.header {
    background-color: var(--color-primary);
    min-width: 100%;
    h2 {
        color: var(--color-secondary);
    }
}

.header__nav {
    gap: 2rem;
}

.header__nav button{
    color: var(--color-secondary);
}