/* header */

.header {
    background-color: var(--bg-main);
    padding-inline: var(--space-l);
    box-shadow: var(--shadow-l);
    min-width: 100%;
    position: fixed;
    z-index: 999;
}

.header__title {
    color: var(--text-heading);
}

.header__left {
    gap: var(--space-l);
    padding: var(--space-m);
}

.header__right {
    gap: var(--space-l);
    padding: var(--space-m);
}

.header__nav {
    gap: var(--space-m);
}

/* buttons */

.btn-header-right {
    color: var(--text-primary);
    background-color: transparent;
    border: none;
}

.btn-header-left {
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    font-size: var(--font-xl);
    font-weight: var(--font-);
}

.btn-header-left:hover {
    border-bottom: 2px solid var(--border-accent);
    color: var(--text-secondary);
}