/* hero */

.hero {
    height: 75vh;
    width: 100%;
    position: relative;
}

.hero-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 90vh;

    img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
}

.hero-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #0b1326ff,
        #0b132655,
        transparent,
        transparent
    );
    pointer-events: none;
}

.hero__overlay {
    position: absolute;
    max-width: 50%;
    min-height: 70%;
    bottom: 0;
    left: 0;
    padding: 0 4rem 5vh 4rem;
    color: var(--text-primary);

    .hero-info__secondary {
        gap: 1rem;
    }

    .hero-info__primary {
        gap: 2rem;
        margin-bottom: 4rem;
        
        p {
            margin-top: 10px;
            font-size: var(--font-l);
            max-width: 80%;
        }
    }
    
    .hero-actions {
        gap: 1rem;
    }
}

/* buttons */

.btn-hero-icons {
    padding: 14px 15px;
}