/* infoContent */

.infoContent {
    border-radius: var(--radius-one);
    overflow: hidden;
    position: relative;
    margin-block: 2rem;
    padding: 4rem;
}

.infoContent::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("../../assets/image/img-01.jpeg");
    background-size: cover;
    background-position: center;
}

.infoContent::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(10px);
}

.primary__infoContent, .secondary__infoContent {
    position: relative;
    z-index: 2;
}

.header__infoContent {
    gap: 6rem;
    padding-block: 1rem;

    h2 {
    /*background: linear-gradient(120deg, var(--color-terciary), var(--color-secondary));
    opacity: 0.7;*/
    border-radius: var(--radius-one);
    }
}

.secondary__infoContent {
    width: 100%;
    border-radius: var(--radius-one);
    padding: 1rem;

    .trailer__infoContent {
        width: 100%;
        max-width: 450px;
        border-radius: var(--radius-one);
        box-shadow: var(--shadow-one);
    }
}

.details__infoContent {
    padding-block: 2rem;
    padding-right: 8rem;
    gap: 2rem;

    /*.secondary__details {
    }*/
}

.buttons__infoContent {
    padding-top: 2rem;
    gap: 1rem;
}