/* infoContent */

.infoContent {
    border-radius: var(--radius-one);
    overflow: hidden;
    position: relative;
    margin-block: 2rem;
}

.infoContent::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: url("../../assets/image/img-01.jpeg");
    background-size: cover;
    background-position: center;
}

.infoContent::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(10px);
}

.header__infoContent, .details__infoContent, .buttons__infoContent {
    padding: 30px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.header__infoContent h2 {
    background: linear-gradient(120deg, var(--color-terciary), var(--color-secondary));
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: var(--radius-one);
}

.details__infoContent {
    padding-inline: 60px;
    gap: 2rem;
}

.buttons__infoContent {
    
}

.secundary__details {
    gap: 2rem;
}