/* mediaPlayer */

.mediaPlayer {
    border-top: var(--color-gris) solid 3px;
    outline: none;
}

.mediaPlayer__viewer {
    width: min(100%, calc(70vh * 16 / 9));
    aspect-ratio: 16 / 9;
    overflow: hidden;
    padding: 2rem;
}

.mediaPlayer__actions, 
.mediaPlayer__nav {
    border-top: var(--color-gris) solid 3px;
    padding: 2rem;
}

.mediaPlayer-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: var(--shadow-one);
}

.mediaPlayer__footer { /* posible mejora si se cambia a adentro de video-container */
    width: 100%;
}

.mediaPlayer__actions {
    width: 100%;
    gap: 2rem;
}

.mediaPlayer__nav {
    width: 100%;
    padding-inline: 0;
    gap: 2rem;
}