/* mediaPlayer */

.mediaPlayer {
    border-top: var(--color-gris) solid 3px;
    outline: none;
}

.mediaPlayer__viewer {
    width: min(100%, calc(70vh * 16 / 9));
    aspect-ratio: 16 / 9;
    overflow: hidden;
    padding: 2rem;
}

.mediaPlayer__actions, 
.mediaPlayer__nav {
    border-top: var(--color-gris) solid 3px;
    padding: 2rem;
}

.mediaPlayer-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: var(--shadow-one);
}

.mediaPlayer__footer { /* posible mejora si se cambia a adentro de video-container */
    width: 100%;
}

.mediaPlayer__actions {
    width: 100%;
    gap: 2rem;
}

.mediaPlayer__nav {
    width: 100%;
    padding-inline: 0;
    gap: 2rem;
}

/* buttons */

.btn-mediaPlayer {
    background-color: black;
    font-size: var(--font-xl);
    border: 1px solid var(--color-terciary);
    color: var(--color-terciary);
    padding: 20px 30px;
    font-weight: var(--font-bold);
    gap: 1rem;
}

.btn-mediaPlayer-nav-primary {
    flex: 10;
    padding: 20px 40px;

    div {
        gap: 0.5rem;
    }
}

.btn-mediaPlayer-nav-secondary {
    flex: 2;
    padding: 20px 30px;
}