/* mediaPlayer */

.mediaPlayer {
    border-top: var(--border-primary) solid 3px;
    outline: none;
}

.mediaPlayer__viewer {
    width: min(100%, calc(70vh * 16 / 9));
    aspect-ratio: 16 / 9;
    overflow: hidden;
    padding: var(--space-l);
}

.mediaPlayer__actions, 
.mediaPlayer__nav {
    border-top: var(--border-primary) solid 3px;
    padding: var(--space-l);
}

.mediaPlayer-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: var(--shadow-m);
}

.mediaPlayer__footer { /* posible mejora si se cambia a adentro de video-container */
    width: 100%;
}

.mediaPlayer__actions {
    width: 100%;
    gap: var(--space-l);
}

.mediaPlayer__nav {
    width: 100%;
    padding-inline: 0;
    gap: var(--space-l);
}

/* buttons */

.btn-mediaPlayer {
    background-color: black; /**/
    font-size: var(--font-size-xl); /**/
    border: 1px solid var(--border-accent); /**/
    color: var(--color-terciary); /**/
    padding: var(--space-m) var(--space-l);
    font-weight: var(--font-bold); /**/
    gap: var(--space-s);
}

.btn-mediaPlayer-nav-primary {
    flex: 10;
    padding: var(--space-m) var(--space-l);
}

.btn-mediaPlayer-nav-primary div {
    gap: var(--space-2xs);
}

.btn-mediaPlayer-nav-secondary {
    flex: 2;
    padding: var(--space-m) var(--space-l);
}