/* carousel */

.carousel {
    position: relative;        
}

.carousel__viewport {
    width: 100%;
    padding: var(--space-xs) var(--space-2xs);
    overflow: hidden;
}

.carousel__track {
    transition: transform 400ms ease;
}

.carousel__button {
    display: inline-flex;
    
}

.carousel__button--variant {
    background-color: var(--overlay-s);
    border: none;
    color: var(--text-default);
    box-shadow: none;
    opacity: 0.5;
}

.carousel__button--variant:hover{
    opacity: 1;
}