/* buttons */

.btn {
    border-radius: var(--radius-one);
    padding: 15px 25px;
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
    box-shadow: var(--shadow-one);
}

.btn-primary {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-terciary);
    color: var(--color-terciary);
}

.btn-secondary {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.btn-header-right {
    color: var(--text-secondary);
    background-color: transparent;
    border: none;
}

.btn-header-left {
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    font-size: var(--font-x);
    font-weight: var(--font-bold);
}

.btn-header-left:hover {
    border-bottom: 2px solid var(--color-secondary);
    color: var(--text-secondary)
}

.btn-hero-icons {
    padding: 14px 15px;
}

.btn-season {
    font-size: var(--font-x);
    padding: 10px;
    gap: 0.5rem;
    transition: all ease 0.5s;
}

.btn-season:hover {
    font-size: var(--font-xl);
    color: white;
    background-color: black;
    border: white solid 2px;
}

.btn-season-nav {
    padding: 0;
    color: white;
    background: transparent;
    border: none;
    box-shadow: none;
    transition: transform ease 0.5s;
}

.btn-season-nav:hover {
    transform: scale(1.3);
}

.btn-pagination-dot {
    border-radius: 100%;
    background-color: transparent;
    border: white solid 2px;
    width: 10px;
    height: 10px;
    transition: all ease 0.5s;
}

.btn-pagination-dot.active {
    border: none;
    background-color: white;
}

.btn-pagination-dot:hover {
    border: var(--color-cuatro) solid 2px;
}