/* list.css */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__element {

}

/* layout */

.list--layout-horizontal {
  display: flex;
  flex-direction: row;
}

.list--layout-vertical {
  display: flex;
  flex-direction: column;
}

.list--layout-grid {
  display: grid;
}